body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Убираем скролл, чтобы космос был на весь экран */
  background-color: #000; /* Черная пустота космоса */
  color: #fff;
  font-family: 'Courier New', Courier, monospace; /* Временный sci-fi шрифт */
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  display: block; /* Убирает лишние отступы у канваса */
}
