body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Убираем скролл, чтобы космос был на весь экран */
  background-color: #000; /* Черная пустота космоса */
  color: #fff;
  font-family: 'Courier New', Courier, monospace; /* Временный sci-fi шрифт */
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  display: block; /* Убирает лишние отступы у канваса */
}


.music-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  border: 1px solid #5dade2;
  color: #5dade2;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  transition: 0.3s;
  outline: none;
}

.music-toggle:hover {
  background-color: #5dade2;
  color: #0d0d12;
}